* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: #ffffff;
    position:sticky;
    top: 0px;
    z-index: 10;
    
}
.navbarUl>.nav-item>.nav-link {
    font-size: 1.1rem;
    font-weight: 450;
}

.navbarUl>.nav-item>.nav-link:hover {
    background-color: rgb(18, 89, 158);
    color: white;
    border-radius: 4px;
    /* transition: all 0.1s ease-in-out ; */
}

.navbarUl>.nav-item>.nav-link {
    padding: 10px;

}

.hero-section {
    background-color: rgb(18, 89, 158);
    width: 100%;
    height: 55vh;
}

.heroSectionTitle {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    
}

.heroSectionTitle>h1 {
    text-align: center;
    color: white;
    font-weight: 400;

}

.heroSectionCoursesTabs {
    margin-left: 70px;
    padding-top: 20px;
    font-size: 1.1rem;

}

.heroSectionCoursesTabs>li>a {

    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    /* letter-spacing: 0.5px; */
    padding: 5px 9px 7px 10px;
    background: transparent;
    margin: 0px 1px;
    border-radius: 3px 3px 0px 0px;
    /* background-color: orangered; */
}

.heroSectionCoursesTabs>li>a:hover {
    background-color: antiquewhite;
    color: blue;



}

.search-bar>.search-bar-child {
    background-color: #0E477E;
    margin: 0px 90px;
    padding: 16px;
    border-radius: 6px;
    margin-top: -12px;

}

.search-bar>.search-bar-child>input {
    /* margin-top: 3px;
    margin-left:85px; */
    width: 75%;
    height: 40px;
    border: none;
    outline: none;
    /* outline: 15px solid rgba(0, 0, 0, 0.2); */
    border-radius: 3px;
    color: rgb(0, 0, 0);

}

.search-bar>.search-bar-child>#searchbtn {
    width: 30%;
    background-color: #FA6D39;
    border: none;
    color: white;

}

.navCoursesVtn {
    background-color: rgb(18, 89, 158);
    color: white;
    border-radius: 4px;
}

.icon {
    color: white;
}
.enqueryNowMain{
    position: relative;
}

.enquerybtn {
    background-color: #FA6D39;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    /* height: 3em; */
    /* width: 100px; */
    /* position: absolute; */
    right: 10px;
    top: 59vh;
    padding-bottom: 12px;
    position: fixed;

    
}
.enquerybtn>.iconmsg{
    font-size: 30px;
    color: white;

  
}
.enquerybtn>span{
    display: none;   
}
.enquerybtn:hover span {
    display: inline-block;
    
}
.card1>.img1{
    /* height: 150px; */
    padding: 15px 50px;
}
.card2>.img2{
    /* height: 150px; */
    padding: 0px 0px;
}
.card3>.img3{
    /* background-color: #FA6D39; */
    /* margin-top: -10px; */
    border-radius: 100%;
    padding: 10px 70px;
}
.card4>.img4{
    /* background-color: #FA6D39; */
    /* margin-top: -10px; */
    border-radius: 100%;
    /* padding: 10px 70px; */
}

.card1{
    box-sizing: border-box;
    text-align: center;
    height: 180px;
    /* padding: 10px; */
    /* row-gap: ; */
    margin-bottom: 25px;
    width: 11rem;
    border: 1px groove rgba(128, 128, 128, 0.281);
    cursor: pointer;
    /* border-radius: 10%; */

}
.card2{
    border-radius: 4px;
    width: 23rem;
    height: 22rem;
    padding: 20px;
    background-color: #ced0d974;
    text-align: center;
    border: 1px groove rgba(128, 128, 128, 0.119);

}
.card3{
    border-radius: 4px;
    width: 23rem;
    height: 28rem;
    padding: 20px;
    /* background-color: #ced0d93a; */
    text-align: center;
    border: 1px groove rgba(128, 128, 128, 0.119);

}
.card4{
    /* border-radius: 4px; */
    /* width: 23rem;
    height: 28rem;
    padding: 20px; */
    background-color: #ced0d93a;
    /* text-align: center;
    border: 1px groove rgba(128, 128, 128, 0.119); */

}
.card1:hover{
   color: #0E477E;
}
.card-body>h5{
   font-weight: 400;
   padding-top: 15px;
   cursor: pointer;
   
}
.card-body p{
margin-top: 20px ;
background-color: white;
padding: 10px;
text-align:justify;
}
.card-body>h5:hover{
   color: #0E477E;
}

.card1>.card-body>.card-title{
    font-size:1rem;
    font-weight: 400;

}
.card2>.card-body>button{
    width: 100%;
    height: 6vh;
    background-color:#12599E;
    margin-top:20px ;
    color: white;
    border: none;
    border-radius: 4px;
}
.card2 span{
    position: absolute;
    background-color: #22afe0;
    padding: 8px 25px 8px 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 400px;
}
.courseItemsdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    
}
.Course_Categories>h3{
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 6vh;
}
.Course_CategoriesDiv1{
    display: flex;
    align-content: center;
    /* background-color: red; */
    padding: 40px 60px;
}
.CertificateContainer{
    text-align: center;
    background-color: #12599E;
    padding: 3vh;
    color: white;
}
.CertificateContainer>h1{
    font-weight: 400;
    
   
}
.brd{
    padding-left: 45%;
    color: white;
}
.brdsub{
    color: white;
    text-decoration: none;
}
.brdsub:hover{
    color: rgb(17, 161, 187);
    text-decoration: none;
}


/* Popular Courses */
.Popular-Courses h3{
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 2vh;
}
.carsol .slidimg{
    height: 200px;
    width: 100%;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow {
    background-color:rgba(128, 128, 128, 0.281);
    color: #12599E;
    
    
}
.iWchow:hover:enabled, .iWchow:focus:enabled {
    color: rgb(230, 12, 12) !important;
    background-color: rgba(128, 128, 128, 0.476)   !important;
    box-shadow: rgb(128, 128, 128) 0px 0px 22px 10px;
   
}

/* section Upcoming-Batches */

.Upcoming-Batches h1{
    text-align: center;
    font-weight: 400;
    word-spacing: 1px;
    margin-top: 50px;
}
.Upcoming-Batches h5{
    text-align: center;
    font-weight: 400;
    word-spacing: 1px;
    margin-bottom: 50px;
    
}

.branchsTabs button{
    padding: 6px 50px;
    border-radius: 6px;
    border: none;
    background-color: #12599E;
    color: white;
}
.ourBrancheslist{
    padding: 0px 76px;
    margin-bottom: 20px;

}
.list-group{
    margin-top: 20px;
    /* width: 3 0%; */
}
.list-group span{
    float: right;
   
}
.list-group-item{
    padding: 20px;
}
.list-group-item button{
    width: 100%;
    background-color: #12599E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.batchesListMain{
    display: flex;
    flex-wrap: wrap;
}

/* Our Students Say */
.Our_Students_Say h1{
    text-align: center;
    font-weight: 350;
    letter-spacing: 1px;

}
.Our_Students_Say{
background-color: #ced0d93a;
}
/* Our_Clients */
.Our_Clients{
background-color: #ced0d93a;

}
.Our_Clients h1{ 
font-weight: 350;
text-align: center;
letter-spacing: 1px;
margin-top: 12vh;

}

